<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Deco Blog</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/styles.css">
	<link rel="stylesheet" type="text/css" href="css/contact.css">
	<link href="https://fonts.googleapis.com/css?family=Oxygen:300,400,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
</head>
<body>
	<header>
		<nav id="header-nav" class="navbar navbar-default">
			<div class="container">
				<div class="navbar-header">
					<div class="navbar-brand">
						<a href="index.html"><img id="brand" src="images/logo.png"></a>
					</div>

					<div class="dropdown">
					  <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
					  	<span><img src="images/hamburger-icon.png" width="35px" height="35px"></span>
					  </button>
					  <ul class="dropdown-menu">
					    <li><a href="#">Contact us</a></li>
					    <li><a href="about.html">About</a></li>
					  </ul>
					</div>

					<button type="button" class="pull-right navbar-toggle collapsed" data-toggle="collapse" data-target="#collapsable-nav" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
				</div>

				<div id="collapsable-nav" class="collapse navbar-collapse">
					<ul id="nav-list" class="nav navbar-nav navbar-right">
						<li class="visible-xs">
							<a href="#">
								<span class="glyphicon glyphicon-home"></span>
							</a>
						</li>
						<li>
							<a href="#">
								<span class="fa fa-lg fa-rss"></span>
							</a>
						</li>
						<li>
							<a href="#">
								<span class="fa fa-lg fa-facebook"></span>
							</a>
						</li>
						<li>
							<a href="#">
								<span class="fa fa-lg fa-twitter"></span>
							</a>
						</li>
						<li>
							<a href="#">
								<span class="fa fa-lg fa-tumblr"></span>
							</a>
						</li>
						<li>
							<a href="#">
								<span class="glyphicon glyphicon-search"></span>
							</a>
						</li>
					</ul>
				</div>
			</div> <!-- end tag container -->
		</nav>
	</header>
	
	<div class="main-content2">
		<div class="row">
			<div class="col-lg-9 col-md-9 col-sm-9 col-xs-12"> <!-- content bar -->
				<div class="contact-info">
					<iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d677.7815556621442!2d108.21134106640123!3d16.059704157270673!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x314219b5d1b05c31%3A0x763eb35e05a644d1!2zMTU1IE5ndXnhu4VuIFbEg24gTGluaCwgVsSpbmggVHJ1bmcsIFEuIFRoYW5oIEtow6osIMSQw6AgTuG6tW5nLCBWaWV0bmFt!5e0!3m2!1sen!2s!4v1479368124927" width="33%" height="300px" frameborder="0" style="border:0" allowfullscreen></iframe>
				
					<div class="addresses">
						<label>Contact information</label>
						<hr><br>
						<section class="address">
							In case you have some questions poped in your mind, feel free to email or even visit us.
							<br><br>
							<img src="images/address-icon.png">&nbsp;
							Address: 155 Nguyen Van Linh, Vinh Trung, Q. Thanh Khe, Da Nang, Vietnam<br>
							<img src="images/email-icon.png">&nbsp;
							Email: info@lifestyle.com<br>
							<img src="images/website-icon.png">&nbsp;
							www.lifestyle.com<br>
						</section>	
					</div>
				</div>

				<div class="user-input">
					<div class="row">
						<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
							<input id="name-input" type="text" name="name" class="style-the-glow" placeholder="YOUR NAME">
						</div>

						<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
							<input id="email-input" type="text" name="email" class="style-the-glow" placeholder="YOUR EMAIL ADDRESS">
						</div>

						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
							<input id="website-input" type="text" name="website" class="style-the-glow" placeholder="WEBSITE ADDRESS">
						</div>

						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
							<textarea id="message-input" type="text" name="message" class="style-the-glow" placeholder="PLEASE WROTE A MESSAGE HERE!"></textarea>
						</div>
					</div>

					<a href="#"><img src="images/send-message-button.png"></a>
				</div>
				
			</div> <!-- close content bar -->

			<div class="col-lg-3 col-md-3 col-sm-3 hidden-xs sidebar"> <!-- sidebar -->
				<div class="sidebar-content">
					<div class="seach">
						<input id="search-bar" type="text" name="search" 
					class="style-the-glow" placeholder="SEARCH" style="background-color: #f9f9fb; width: 77%; float: left; height: 50px;">
						<a href=""><img class="search-button" src="images/search-button.png" ></a>
					</div>

					<a href="#">
						<img class="adsen" src="images/adsen2.png">
					</a>

					<div class="latest-posts">
						<p class="text-center latest-post-label">Latest Post</p>
						<hr>
						<ul class="latest-post row">

							<li>
								<a href="#" class="latest-posts-img col-lg-4 col-md-4 col-sm-4"><img src="images/sample-img-sm1.png"></a>
								<div class="latest-post-content col-lg-8 col-md-8 col-sm-8">
									<a href="#" class="post-title latest-post-title">
									Journey towards a lifestyle
									</a>
									<div class="latest-post-info">
										<p class="latest-post-date">Jan, 16 2016</p>
										<p class="like">Like 255</p>
									</div>
								</div>
								<hr>
							</li>

							<li>
								<a href="#" class="latest-posts-img col-lg-4 col-md-4 col-sm-4"><img src="images/sample-img-sm2.png"></a>
								<div class="latest-post-content col-lg-8 col-md-8 col-sm-8">
									<a href="#" class="post-title latest-post-title">
									Fashionable shoes for men
									</a>
									<div class="latest-post-info">
										<p class="latest-post-date">Jan, 18 2016</p>
										<p class="like">Like 25</p>
									</div>
								</div>
								<hr>
							</li>

							<li>
								<a href="#" class="latest-posts-img col-lg-4 col-md-4 col-sm-4"><img src="images/sample-img-sm1.png"></a>
								<div class="latest-post-content col-lg-8 col-md-8 col-sm-8">
									<a href="#" class="post-title latest-post-title">
									Really Awesome adventure
									</a>
									<div class="latest-post-info">
										<p class="latest-post-date">Jan, 16 2016</p>
										<p class="like">Like 255</p>
									</div>
								</div>
								<hr>
							</li>

							<li>
								<a href="#" class="latest-posts-img col-lg-4 col-md-4 col-sm-4"><img src="images/sample-img-sm2.png"></a>
								<div class="latest-post-content col-lg-8 col-md-8 col-sm-8">
									<a href="#" class="post-title latest-post-title">
									Man hunting in jungle
									</a>
									<div class="latest-post-info">
										<p class="latest-post-date">Jan, 23 2016</p>
										<p class="like">Like 255</p>
									</div>
								</div>
								<hr>
							</li>

						</ul>
					</div>

					<div class="social-icons">
						<a href="#"><img src="images/fb-icon.png"></a>
						<a href="#"><img src="images/tw-icon.png"></a>
						<a href="#"><img src="images/linked-icon.png"></a>
					</div>

					<iframe class="fb-iframe" src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Ffacebook&tabs=timeline&width=300&height=300&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width="100%" height="300px" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>

				</div>
			</div> <!-- close sidebar -->
		</div> <!-- close row -->

	</div> <!-- close main-content -->

	<footer class="panel-footer">
		<div class="footer-container">
			<div class="row">
				<section id="about" class="footer-block col-lg-3 col-md-3 col-sm-3">
					<span class="footer-block-title">About Blog</span><br><br>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod <br><br>
					<img src="images/signature.png" width="90%">
				</section>

				<section id="tweets" class="footer-block col-lg-3 col-md-3 col-sm-3">
					<span class="footer-block-title">Latest tweets</span><br><br>
					<span class="fa fa-lg fa-twitter">@Twitter@magical</span><br>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
				</section>

				<section id="follow" class="footer-block col-lg-3 col-md-3 col-sm-3">
					<span class="footer-block-title">Follow me instagram</span><br><br>
					<a href="#">
						<img src="images/followme.jpg" width="90%">
					</a>
				</section>

				<section id="about" class="footer-block col-lg-3 col-md-3 col-sm-3">
					<span class="footer-block-title">Latest comment</span><br><br>
					<span>From Alex : </span><br>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod. <br><br><br>
					<span>From John : </span><br>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.
				</section>
			</div>
		</div>
		<div class="end-footer text-center">&copy; 2016 COPYRIGHT ALL RIGHT RESERVED BY KHANHHOAI</div>
	</footer>
	<script src="js/jquery-2.1.4.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <!-- <script src="js/npm.js"></script> -->
  <script src="js/script.js"></script>
</body>
</html>