*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.container {
	width: 100%;
	padding: 0;
}

.dropdown {
	position: absolute;
	top: 0;
	left: 0;
}

.btn-primary {
	background-color: #212429;
}

#collapsable-nav {
	background-color: #212429;
}

.navbar-header {
	background-color: #212429;
}

#header-nav {
	border: 0;
	border-radius: 0;
}

.navbar-brand a:hover, .navbar-brand a:focus {
	text-decoration: none;
}

#brand {
	position: absolute;
	left: 50%;
	display: block;
	margin-left: -50px;
	margin-top: auto;
}

.glyphicon {
	border: 1px;
	border-color: white;
}

#myCarousel {
	width: 100%;
}

.carousel-inner {
	width: 95%;
	margin: 0 auto;
}

/*------------------Body---------------*/

body {
	background-color: #f9f9fb;
}

/*----------------Newsletter-------------*/
.newsletter {
	width: 95%;
	margin: 0 auto;
	background-color: #f7f7f7;
	padding-top: 10px;
}

/*.middle-vertical {
	vertical-align: center;
	display: inline-block;
	float: none;
	margin-right: -4px;
}*/

#signup-label {
	text-transform: uppercase;
	font-size: 1.1em;
	font-family: 'Montserrat', sans-serif;
	float: left;
	letter-spacing: 3px;
	padding: 0;
	margin-left: 20px;
}

input[type="text"] {
  display: block;
  margin: 0;
  width: 100%;
  font-family: sans-serif;
  height: 39px;
  font-size: 16px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  
}

input[type="text"]:focus {
  outline: none;
}

input::-webkit-input-placeholder {
	padding-left: 10px;
}

#name-input {
}

#email-input {
}

.style-the-glow{
	border: solid 1px #dcdcdc;
	transition: box-shadow 0.3s, border 0.3s;
}

.style-the-glow:focus {
	border: solid 1px #707070;
	box-shadow: 0 0 5px 1px #969696;
}

#subcribe-button {
	border: 0;
	width: 100%;
	background-color: #1b1b1b;
	height: 100%;
	font-family: 'Montserrat', sans-serif;
	color: #d0d0d0;
	padding: 10px 0 10px 0;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 0.95em; 
}

/*----------------Main Content-------------*/

.main-content {
	-moz-column-count: 4;
	-moz-column-gap: 20px;
	-webkit-column-count: 4;
	-webkit-column-gap: 20px;
	column-count: 4;
	column-gap: 20px;
	margin: 35px;
}

.main-content2 {
	margin: 50px 30px 30px 30px;
}

.main-content .post {
	display: inline-block;
	/*width: 100%;*/
}

.post {
	background-color: #ffffff;
	position: relative;
	margin-top: 50px;
}

.type-icon {
	display: block;
	margin: auto;
	position: relative;
	top: -17px;
}

.video {
	margin-top: 0;
	position: relative;
	top: -20px;
}

.post-category, .post-title, .post-date, .post-info {
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	letter-spacing: 1px;
}

.post-title:hover, .post-title:focus {
	text-decoration: none;
}

.post-category, .post-date {
	color: #999999;
}

.post-preview, .tag {
	color: #838383;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	font-size: 0.95em;
	margin: 0 10px 10px 10px;
}

.quote {
	background-color: #212429;
	color: #ffffff;
}

.author-name {
	color: #79797b;
	padding-bottom: 20px;
	font-family: 'Montserrat', sans-serif;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.post-author {
	margin-right: 10px;
}

.link {
	background-color: #212429;
	opacity: 80%;
	padding-bottom: 30px;
	width: 100%;
}

.link-text {
	text-decoration: underline;
	color: white;
	margin-top: 20px;
}


.post-date {
	margin-bottom: 10px;
}

.post-title {
	color: #212121;
}

.readmore-button {
	display: block;
	margin: 0 auto 10px;
}

.tag {
	text-transform: uppercase;
	font-size: 1.1em;
}

.reaction {
	width: 33%;
	margin-right: 0;
}


.comment, .like{
	font-family: 'Montserrat', sans-serif;
	letter-spacing: 1px;
	font-size: 0.8em;
	color: #a6a6a6;
	text-transform: uppercase;
	display: inline-block;
}

.comment {
	margin-right: 20px;
	margin-left: 10px;
}

.rating { 
  border: none;
  display: inline-block;
  position: absolute;
  bottom: -5px;
  left: 45%;
}

.rating > input { display: none; } 
.rating > label:before { 
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > .half:before { 
  content: "\f089";
  position: absolute;
}

.rating > label { 
  color: #ddd; 
 	float: right; 
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { 
	color: #FFD700;  
} /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { 
	color: #FFED85;  
} 

.social {
	position: absolute;
	display: inline-block;
	right: 0;
	bottom: 10px;
	margin-right: 15px;
}

.post-info p {
	display: inline-block;
	color: #999999;
	font-size: 0.9em;
}

.direction {
	text-transform: uppercase;
	font-size: 1.1em;
	margin-top: 50px;
	height: 100px;
}

.direction-button {
	color: white;
	width: 48%;
}

.direction-button:hover, .direction-button:focus {
	color: white;
	text-decoration: none;
}

.pre-button {
	background-color: black;
	float: left;
}

.next-button {
	float: right;
	background-color: #3a3c49;
}

.pre-text, .next-text {
	vertical-align: middle;
	padding-top: 40px;
	padding-bottom: 40px;
	letter-spacing: 2px;
}

.about-author {
	margin-top: 30px;
	background-color: white;
	position: relative;
	display: block;
	overflow: auto;
}

.author-avatar {
	display: inline-block;
	float: left;
}

.author-info {
	display: inline-block;
	float: left;
	width: 60%;
	margin-left: 30px;
}

.author {
	margin-top: 10px;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: black;
}

.author-allposts {
	margin-top: 10px;
	float: right;
	position: absolute;
	top: 0;
	right: 0;
	color: #3e3e3e;
	text-transform: uppercase;
	margin-right: 10px;
}

.author-allposts:hover, .author-allpost:focus {
	color: #3e3e3e;
	text-decoration: none;
}

.author-quote {
	font-family: 'Montserrat', sans-serif;
	color: #747474;
}

.author-social {
	margin-top: 10px;
}

.author-facebook, .author-twitter, .author-linked {
	background-color: white;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	text-transform: uppercase;
	color: #999999;
}

label {
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
}

.recommended-posts {
	margin-top: 30px;
	background-color: white;
	position: relative;
}

.recommend-label {
	margin-top: 20px;
	margin-left: 20px;
}

#recommend-carousel {
	margin: 20px;
}

.recommend-carousel-control {
	height: 40px;
	position: relative;
	width: 50px;
	opacity: 1;
	float: right;
	padding: 0;

}

.c-control {
	display: inline-block;
	position: absolute;
	top: 15px;
	right: 25px;
}

.carousel-control.left, .carousel-control.right {
	background-image: none;
}

/*------------------Sidebar------------------*/

.sidebar {
	background-color: white;
	margin-top: 50px;

}

.sidebar-content {
	margin-top: 30px;
}

.search-button {
	float: left;
}

.adsen {
	margin-top: 20px;
	width: 100%;
}

.categories {
	margin-top: 20px;
	margin-bottom: 0;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	letter-spacing: 2px;
	list-style-type: none;
}

.category-label {
	font-weight: bold;
	font-size: 1.2em;
	margin-bottom: 0;
}

.category-name {
	float: left;
	color: black;
}

.category-number {
	float: right;
}

hr {
	margin-top: 10px;
	margin-bottom: 10px;
	clear: both;
}

.latest-posts {
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin-bottom: 20px;
}

.latest-post {
	list-style-type: none;
}

.latest-post-label {
	font-weight: bold;
	font-size: 1.2em;
	margin-bottom: 0;
}

.latest-posts-img {
	padding: 0;
}

.latest-post-content {
	padding: 0;
}

.latest-post-info {
	padding: 0;
}

.latest-post-date {
	display: inline-block;
	font-size: 0.8em;
	color: #a6a6a6;
	margin-right: 10px;
}

.social-icons {
	margin-bottom: 20px;
}

.fb-iframe {
	padding-bottom: 30px;
}
/*------------------Footer-------------------*/
.panel-footer {
	background-color: #212429;
	opacity: 80%;
	padding: 0;
	padding-top: 20px;
}

.footer-container {
	padding-left: 2%;
	padding-right: 2%;
}

.footer-block-title {
	padding-bottom: 20px;
	padding-top: 10px;
	text-transform: uppercase;
	font-weight: bold;
}

section.footer-block {
	color: white;
}

.end-footer {
	background-color: #17191c;
	margin: 0;
	margin-top: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
}

/*---------------Different screens------------------*/

@media (min-width: 992px) and (max-width: 1199px) {
	.main-content {
		margin-top: 50px;
	  -moz-column-count: 3;
	  -moz-column-gap: 20px;
	  -webkit-column-count: 3;
	  -webkit-column-gap: 20px;
		column-count: 3;
		column-gap: 20px;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.main-content {
		margin-top: 50px;
	  -moz-column-count: 2;
	  -moz-column-gap: 20px;
	  -webkit-column-count: 2;
	  -webkit-column-gap: 20px;
		column-count: 2;
		column-gap: 20px;
	}
}

@media (max-width: 767px) {
	.main-content {
		margin-top: 50px;
	  -moz-column-count: 1;
	  -moz-column-gap: 20px;
	  -webkit-column-count: 1;
	  -webkit-column-gap: 20px;
		column-count: 1;
		column-gap: 20px;
	}
}
